---
layout: default
title: MUSIC
selected: music
permalink: /music/
---

<div id="music">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h1 class="header">GETTIN' STICKY</h1>
        <img class="img-responsive" src="/images/gettin-sticky-header.jpg"></a>
      </div>
    </div>

    {% include gettin-sticky-player.html %}

    <div class="row">
      <div class="col-sm-12">
        <a href="#" data-featherlight="/images/bench-chill.jpg"><img class="img-responsive" src="/images/track-bikes.jpg"></a>
      </div>
    </div>

    <div class="row">
      <h3>Check out the first two installments in the <em>Gettin'</em> trilogy</h3>
      {% for album in site.music %}
        <div class="col-sm-6">
          <a href="{{ album.url }}">
            <img class="img-responsive" src="{{ album.image }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
