<div class="getting-here">
  <h3>Getting Here</h3>

  <img class="img-responsive getting-here" src="/images/map-diagram.png">

  <p>Things are a little bit weird with the house and the address and <strong>stupid</strong> Google Maps, but we get ahead of ourselves. First, you need the address:</p>

  <p class="time">
    5133 NE Killingsworth St<br/>
    Portland, OR 97218<br/><br/>
    <a href="http://maps.apple.com/?q=5133+NE+Killingsworth+St+Portland+OR+97218" target="_blank">Apple Maps</a> •
    <a href="http://maps.google.com/?q=5133+NE+Killingsworth+St+Portland+OR+97218" target="_blank">Google Maps</a>
  </p>

  <p>As you can see, the address is on Killingsworth, but the house is one back on the north side of the street down a little driveway. The address shows up correctly on Google and Apple Maps, but if you use Google Maps <em>directions</em> it will tell you to turn down the wrong driveway and lead you totally astray! It's frustrating, let me tell you. Apple Maps directions will tell exactly (and correctly!) where to go. If Google Maps is your only option, you're better off just pulling up the address and then driving/walking toward it. Do not trust the directions! Also, according to Google Maps, you access my house from NE 50th Place, even though that's not actually a city street.</p>

  <h3>Parking</h3>

  <p>Parking is very limited around the house. If you've been told to take one of the off-street spots in front of the house, go for it! Grab an open one, but be aware that sometimes backing in can be the easier option. Just throwing that out there!</p>
  <p>Otherwise, you might be able to find some on spots Killingsworth. If not, there should be plenty on 52nd Ave, south of Killingsworth. There's a good-sized residential area there with lots of street parking, but you might have to walk a block or two.</p>
</div>
