<div class="release-player">
  <div class="row">
    <div class="col-sm-6">
      <img class="img-responsive" src="/images/gettin-hard-cover.jpg"></a>
      <iframe style="border: 0; width: 100%; height: 120px; margin-bottom: 10px" src="//bandcamp.com/EmbeddedPlayer/album=3653771434/size=large/bgcol=66eeee/linkcol=222222/tracklist=false/artwork=none/transparent=true/" seamless><a href="//hotwontquit.bandcamp.com/album/gettin-hard">Gettin&#39; Hard by Hot Won&#39;t Quit</a></iframe>
    </div>
    <div class="col-sm-6">
      <p><b>Gettin' Hard</b> isn't just a sexually suggestive phrase - <b>Hot Won't Quit</b> actually did it! These six ragers <b>heap on the heavy</b> - not unlike the weight training strategy the fellas employ to hone their <b>rockin' bods</b>. Sophomore effort dropped hard in Summer 2016.</p>
    </div>
  </div>
</div>
