<div class="release-player">
  <div class="row">
    <div class="col-sm-6">
      <img class="img-responsive" src="/images/gettin-sticky-cover.jpg"></a>
      <iframe style="border: 0; width: 100%; height: 120px;" src="//bandcamp.com/EmbeddedPlayer/album=2004915576/size=large/bgcol=eeeeee/linkcol=222222/tracklist=false/artwork=none/transparent=true/" seamless><a href="//hotwontquit.bandcamp.com/album/gettin-sticky">Gettin&#39; Sticky by Hot Won&#39;t Quit</a></iframe>
    </div>
    <div class="col-sm-6">
      <p>As the final installment in the <em>Gettin'</em> trilogy, <b>Gettin' Sticky</b> packs all the punches. You'd think all that sticky ice cream would slow the boys down, but you'd be wrong. You'd be right, however, about <em>just how</em> sticky they were, like a bunch of babies. At times, it was pretty uncomfortable, even for the <a href="https://www.instagram.com/scherzofoto/" target="_blank">photographer</a>.</p>
    </div>
  </div>
</div>
