body {
  padding: 0;
  margin: 0 0 40px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h3 {
  margin-top: 20px;
}

h3.email {
  margin-bottom: 30px;
}

p, li {
  font-size: 120%;
}

.row {
  margin: 20px 0;
}

img {
  margin-bottom: 10px;
}

small {
  color: #ccc;
  font-size: 70%;
}

#movie {
  h1 {
    margin: 0 0 20px 0;
    font-size: 275%;
    text-align: center;
    background: red;
    padding: 10px;
    color: #fff;
  }

  img {
    float: right;
    margin-left: 20px;
    width: 35%;
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin: 25px 0 15px 0;
  }

  h3.date {
    margin: 5px 0 30px 0;
  }

  p.time {
    font-weight: bold;
    background: #eee;
    border: 3px solid red;
    margin: 0 0 30px 0;
    padding: 10px;
    width: 62%;
  }

  a {
    color: red;
    text-decoration: underline;
  }

  a:hover {
    color: red;
    text-decoration: none;
  }

  .addeventatc {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  iframe {
    width: 100%;
  }

  .canceled {
    h1 {
      background: red;
      margin: 0;
    }

    p {
      border: 3px solid red;
      padding: 20px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 600px) {
  #movie {
    img, .addeventatc, p.time {
      width: 100%;
    }
  }
}

#mc_embed_signup {
  form {
    padding: 0;
  }

  .mc-field-group {
    width: 100%;
    padding: 0;
  }

  input {
    text-align: center;
  }

  .button {
    width: 100%;
    font-size: 120%;
    padding: 5px 0;
    height: auto;
    background-color: #9999FF;

    &:hover {
      background-color: #8989e5;
    }
  }

  div#mce-responses {
    width: 100%;
    padding: 0;
    margin: 0;

    #mce-success-response, #mce-error-response {
      color: #666;
    }

    div.response {
      font-weight: normal;
      padding: 0;
      margin: 15px 0 20px 0;
      width: 100%;
      text-align: center;
    }
  }

  #mc-embedded-subscribe-form div.mce_inline_error {
    display: block;
    text-align: center;
  }
}
