body {
  padding: 0;
  margin: 0 0 40px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h3 {
  margin-top: 20px;
}

h3.email {
  margin-bottom: 30px;
}

p, li {
  font-size: 120%;
}

.row {
  margin: 20px 0;
}

img {
  margin-bottom: 10px;
}

img.movie-poster {
  float: right;
  margin-left: 20px;
  width: 35%;
}

#movie {
  h1 {
    margin: 0 0 20px 0;
    font-size: 275%;
    text-align: center;
    background: #3E4A58;
    padding: 10px;
    color: #fff;
  }

  a {
    color: #3E4A58;
    text-decoration: underline;
  }

  a:hover {
    color: #3E4A58;
    text-decoration: none;
  }
}

@media (max-width: 600px) {
  img.movie-poster {
    width: 100%;
  }
}
