<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <nav class="navbar fixed-top border-bottom">
      <div class="container">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <ul class="list-unstyled list-inline d-flex justify-content-between">
            <li class="list-inline-item"><a href="/">The Beehive</a></li>
            <li class="list-inline-item"><a href='/'>🐝🏡☀️</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
