<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <!-- {% include header.html %} -->
          {{ content }}
          {% include footer.html %}
        </div>
      </div>
    </div>

    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
