---
layout: default
---

{{ content }}

<h3>The Rest of the House</h3>

<div class="row">
  <div class="col-sm-3">
    <a href="images/rentals/the-house/map.jpg" data-lightbox="slideshow" data-title="Map">
      <img class="img-rounded img-responsive" src="images/rentals/the-house/map.jpg" />
    </a>
  </div>
  <div class="col-sm-3">
    <a href="images/rentals/the-house/couch.jpg" data-lightbox="slideshow" data-title="Living Room Couch">
      <img class="img-rounded img-responsive" src="images/rentals/the-house/couch.jpg" />
    </a>
  </div>
  <div class="col-sm-3">
    <a href="images/rentals/the-house/shoes.jpg" data-lightbox="slideshow" data-title="Shoes!">
      <img class="img-rounded img-responsive" src="images/rentals/the-house/shoes.jpg" />
    </a>
  </div>
  <div class="col-sm-3">
    <a href="images/rentals/the-house/spider-light.jpg" data-lightbox="slideshow" data-title="Spider Light">
      <img class="img-rounded img-responsive" src="images/rentals/the-house/spider-light.jpg" />
    </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <a href="images/rentals/the-house/kitchen.jpg" data-lightbox="slideshow" data-title="Kitchen">
      <img class="img-rounded img-responsive" src="images/rentals/the-house/kitchen.jpg" />
    </a>
  </div>
  <div class="col-sm-3">
    <a href="images/rentals/the-house/nook.jpg" data-lightbox="slideshow" data-title="The Breakfast Nook">
      <img class="img-rounded img-responsive" src="images/rentals/the-house/nook.jpg" />
    </a>
  </div>
  <div class="col-sm-3">
    <a href="images/rentals/the-house/bike.jpg" data-lightbox="slideshow" data-title="Bike">
      <img class="img-rounded img-responsive" src="images/rentals/the-house/bike.jpg" />
    </a>
  </div>
  <div class="col-sm-3">
    <a href="images/rentals/the-house/basement-storage.jpg" data-lightbox="slideshow" data-title="Basement Storage">
      <img class="img-rounded img-responsive" src="images/rentals/the-house/basement-storage.jpg" />
    </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <a href="images/rentals/the-house/desk.jpg" data-lightbox="slideshow" data-title="Communal Desk">
      <img class="img-rounded img-responsive" src="images/rentals/the-house/desk.jpg" />
    </a>
  </div>
  <div class="col-sm-3">
    <a href="images/rentals/the-house/numbers.jpg" data-lightbox="slideshow" data-title="The Main Entrance">
      <img class="img-rounded img-responsive" src="images/rentals/the-house/numbers.jpg" />
    </a>
  </div>
  <div class="col-sm-3">
    <a href="images/rentals/the-house/lawn.jpg" data-lightbox="slideshow" data-title="Backyard with Lawnmower">
      <img class="img-rounded img-responsive" src="images/rentals/the-house/lawn.jpg" />
    </a>
  </div>
  <div class="col-sm-3">
    <a href="images/rentals/the-house/bike-shed.jpg" data-lightbox="slideshow" data-title="Bike Shed">
      <img class="img-rounded img-responsive" src="images/rentals/the-house/bike-shed.jpg" />
    </a>
  </div>
</div>

<h3>The Neigborhood</h3>
<p>It's a 10-minute walk to all the lovely goings-on at 42nd (Ole Frijole, Nepo 42, The Spare Room, Old Salt, Miss Zumstein Coffee Shop, a #75 bus stop, etc); a 5-minute walk to the new Kʰunamokwst Park on Alberta; and a 20-minute walk to New Seasons, the Kennedy School, and all that Alberta has to offer. Super easy bike friendly area, and we have secure bike storage! There's also a #72 bus stop right around the corner from the house.</p>

<!-- <h3>Our Story</h3>
<p>The two owners of the house are adventurers who are trying to settle down a bit. We've done our fair share of traveling and crashing on couches and sleeping in vans, but we still like a nice place that's clean and well taken care of. We're both single men in our mid 30s, one straight, one gay, and we are the best of friends! The other housemate is a female in her 20s.<p> -->

<h3>The Right Fit</h3>
<p>We're all pretty darn laid back and friendly if we don't say so ourselves. Some work early, others stays up late, but the house quiet hours are generally from about 8pm to 8am and everyone is very respectful of one another's needs, space, and schedules. Sometimes we have outdoor movie parties in the backyard, sometimes we just straight chill at home, and sometimes we're out partying until 4am last Friday night in our booty shorts!</p>
<p>We aren't a "chore wheel" kind of house, but we like tenants that take ownership of their space and invest a little in the everday goings-on. If something is a little dirty, clean it up! If something seems broken, try to fix it! In the very least, let others know so that we can all take care of each other. We don't do house meetings, but we end up hanging in the kitchen and catching up with each other pretty regularly. We also have a group text that we use for little updates, questions, and LOLz. We are an open communication kinda place. :)</p>
<p>We are looking for someone of any gender, any sexuality, any anything that wants to jump in and have fun with this. You're welcome to have your homies over and we'll have our homies over and we can all be one happy family, but it's also totally cool if you want to do your own thing and just throw out a high five on your way out the door.</p>
<p>Don't leave us hanging!</p>
<p>Send us an email with a little bit about yourself and we'll be in touch.</p>
<h3 class="email"><a href="mailto:pdxbeehive@gmail.com?subject=Room For Rent">pdxbeehive@gmail.com</a></h3>
<a href="images/rentals/the-house/google-map.png" data-lightbox="map" data-title="Map of area around The Beehive">
  <img class="img-rounded img-responsive" src="images/rentals/the-house/google-map.png" />
</a>
